.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0 24px;

  background-color: #fff;
  border-bottom: solid 1px #E9EBF0;

  &__logo-text {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2B3452;
    margin-right: 8px;
  }

  &__logo-heading {
    background: #6699FD;
    border-radius: 4px;
    padding: 3px 4px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    min-height: 64px;
  }

  &__nav-title {
    display: flex;
    align-items: center;
  }

  &__nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__nav-item {
    height: 100%;
    min-height: 64px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &:hover {
      cursor: pointer;
    }

    a {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #2B3452;
      text-decoration: none;
    }

    &--active {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        border-bottom: solid 1px #6699FD;
      }

      a {
        color: #6699FD;
      }
    }

    &--gray {
      a {
        color: #7D8395;
      }
    }
  }

  &__profile {
    display: flex;
    align-items: center;
  }

  &__profile-img {
    margin-right: 8px;
    border-radius: 10px;
  }

  &__profile-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000;
  }

  &__profile-role {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #6699FD;
  }
}